<!DOCTYPE html>
<html>
  <head>
    <title>
      Rango -
      {% block title_block %}
        How to Tango with Django!
      {% endblock %}
    </title>
  </head>
  <body>
    {% load rango_template_tags%}
    <div style="background-color: #000f3a">
        {%block sidebar_block%}
            {%get_category_list category%}
        {%endblock%}
    </div>
{#        <h3>{{ rango_template_tags.hell }}</h3>#}
    <div>
      {%block body_block%}
      {%endblock%}
    </div>
    <hr>
    <div>
      <ul>
          {% if user.is_authenticated %}
        <li><a href="{% url 'rango:logout'%}"> Logout</a></li>
              <li><a href="{% url 'rango:restricted'%}"> Restricted</a></li>

          {% else %}
            <li><a href="{% url 'rango:registration'%}"> register</a></li>
            <li><a href="{% url 'rango:login'%}"> Login</a></li>
          {% endif %}
            <li><a href="{% url 'rango:add_category'%}"> Add New Category</a></li>
            <li><a href="{% url 'rango:about'%}"> about</a></li>
            <li><a href="{% url 'rango:index'%}"> index</a></li>

      </ul>
    </div>


          {%block bottombar_block%}
            {%get_page_list 123%}
        {%endblock%}
  </body>
</html>
